.polage {
    display: flex;
    gap: 15px;
    padding-left: 181px;
    padding-top: 30px;
}

#nam {
    color: #E8AA31;
}

#img {
    width: 754px;
    height: 577px;
    border-radius: 2px;
    margin-left: 181px;
    margin-top: 30px;
    border: 1px solid black;

}

#img19 {
    width: 177px;
    height: 195px;
    border-radius: 2px;
    margin-left: 181px;
    margin-top: 16px;
    margin-bottom: 30px;
    border: 1px solid black;

}

.no {
    width: 806px;
    height: 788px;
    box-shadow: 0px 4px 20px 0px #0000001A;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;


}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 30px;
}

#p {
    margin-top: 33px;
    font-weight: 700;
}

.gho img {
    width: 27px;
    height: 24px;
}

.hr {
    margin-left: 30px;
    background-color: #14141426;
    width: 746px;
    border: 0px;
    margin-top: 30px;
}

.p10 {
    display: flex;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 20px;

}

#span {
    padding-left: 112px;
}

#span1 {
    padding-left: 41px;
}

#span2 {
    padding-left: 131px;
}

#span3 {
    padding-left: 30px;
}

.fo {
    margin-left: 30px;
    padding-top: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.fo span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0%;
    color: #14141480;

}

.p11 {
    display: flex;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0%;

}

.select {
    height: 40px;
    width: 534px;
    font-family: Montserrat;
    font-weight: 500;


}

.opt {
    font-size: 14px;
    font-weight: 500;
    color: #14141480;
}

#sel {
    margin-left: 157px;
}

#sel1 {
    margin-left: 137px;
}

#sel2 {
    margin-left: 53px;
}

#sel3 {
    margin-left: 45px;
}

.select:required:invalid {
    color: grey;
}

.select:not(:required:invalid) {
    color: black;
}

.gh {
    margin-left: 30px;
    display: flex;
    margin-top: 15px;
    gap: 429px;
}

#j {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

}

#po {
    color: rgba(0, 0, 0, 0.500);
    padding-right: 30px;
}

.gj {
    display: flex;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.020);
    width: 150px;

    margin-left: 30px;
    margin-top: 20px;
    align-items: center;
    font-family: Monserrat;
    font-weight: 500;
    font-size: 18px;
}

.gj button {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border: 0px;
}

.h {
    display: flex;
}

.b1,
.b2 {
    border-radius: 3px;
    width: 228px;
    height: 50px;
    color: white;
    border: 0px;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    letter-spacing: 0%;


}

.b1 {
    box-shadow: 0px 4px 20px 0px #E8AA316E;
    background-color: #E8AA31;
    margin-left: 109px;

}

.b2 {
    box-shadow: 0px 4px 20px 0px #00000040;
    background-color: #000000;
    margin-left: 30px;


}

.no1 {
    width: 1565px;
    box-shadow: 0px 4px 20px 0px #0000001A;
    background-color: #FEFEFE;
    margin-left: 181px;
    padding-top: 30px;
    padding-left: 30px;




}

#d {
    padding-bottom: 30px;
}

.nn {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 62px;


    display: flex;
}

.hr1 {

    background-color: #14141426;
    width: 1529px;
    border: 0px;
    margin-top: 20px;
}

.bnm {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

}

#d {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
}

.wi {
    width: 128px;
}

#d div select {
    margin-left: 30px;
    border: 1px solid #04040426;
    width: 301px;
    height: 40px;
    padding-left: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;

}


.void {
    width: 80px;
    height: 80px;


}

.family1 {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
}

.gap1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
}

.ddd1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
}


.author_and_date_div {
    display: flex;
    justify-content: space-between;
    width: 650px;
    align-items: center;
}

.bu {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    letter-spacing: 0%;
    background-color: #000000;
    color: #ffffff;
    border: 0px;

}

.b {
    margin-top: 11px;
    padding-right: 583px;
}