body {
    font-family: Montserrat;
}

h3 {
    font-size: 24px;
}

h2 {
    font-size: 30px;
}


header {
    padding-bottom: 30px;
}

.header_row {
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 171px;
    padding-right: 168px;


}

.header_main {
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: 171px;
    padding-right: 168px;


}

.header_row_menu_nav {

    display: flex;
    gap: 60px;

    font-weight: 500;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;
    align-items: center;


}

.person {

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.wrapper {
    display: flex;
    align-items: center;



}

.div4 {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    align-items: center;
}

.div5 {
    display: flex;
    gap: 158px;
    align-items: center;
}

.div6 {
    align-items: center;
    display: flex;

}

.img1 {
    height: 30px;
    width: 24px;
    margin-top: 9px;
    padding-right: 5px;
}

.img2 {

    width: 190px;
    height: 42.4510383605957px;


}

.img3 {
    width: 17px;
    height: 24.417293548583984px;



}

.Group1 {
    display: flex;
    align-items: start;
    margin-left: 10px;
}

.good {
    display: flex;
    align-items: start;
    padding-left: 30px;
    padding-right: 30px;
}

.input1 {
    width: 377px;
    height: 20px;
    opacity: 1;


}

.h3 {

    font-weight: 500;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;
    width: auto;

    margin-left: 10px;
}

.h3-1 {

    font-weight: 500;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;
    width: auto;
    margin-left: 55px;
    gap: 10px;

}

.h3-2 {

    font-weight: 500;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;
    width: auto;
    margin-left: 15px;
    gap: 10px;

}

.h3span {

    font-weight: 700;
    font-size: 16px;
    color: #E8AA31;
    line-height: 100%;
    letter-spacing: 0%;
    width: auto;

}

.h3span1 {

    font-weight: 500;
    font-size: 16px;
    color: #E8AA31;
    line-height: 100%;
    letter-spacing: 0%;
    width: auto;

}

.ul1 {
    display: flex;
    gap: 116px;

    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.div7 {
    display: flex;
    background-color: #141414;
    height: 788px;
    color: white;
    align-items: normal;
    justify-content: start;
    text-align: left;
    padding-left: 165px;
}

h1 {

    font-weight: 700;
    font-size: 36px;
    color: white;
    line-height: 46px;
    letter-spacing: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-right: 80px;

}

.h3span3 {

    font-weight: 500;
    font-size: 36px;
    color: white;
    line-height: 46px;
    letter-spacing: 3%;
    margin-right: 357px;

}

.dog {
    display: flex;



}

.dog1 {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    gap: 30px;
}

.p1 {

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3%;

}

.span1 {

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3%;
}

.span2 {

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3%;
}

.button {
    background-color: #E8AA31;
    color: white;
    width: 228px;
    height: 50px;
    border: #E8AA316E;

    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0%;
    margin-top: 60px;
    box-shadow: 0px 4px 20px 0px #E8AA316E;


}

.display {
    display: flex;
    gap: 17px;
    align-items: end;
}

.people {
    margin-top: 30px;
    display: flex;
    width: 212px;
    height: 46px;


}

.but {
    width: 18px;
    height: 1px;
    display: flex;
    margin-bottom: 14px;


}

.he {

    font-weight: 600;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 10%;
    color: #E8AA31;
    margin-left: 32px;

}

.he-ha {

    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    letter-spacing: 10%;
    color: white;

}

.go {
    width: 447.8367919921875px;
    height: 499px;
    margin-left: 139px;
    margin-top: 31px;

}

.div8 {
    display: flex;
    gap: 179px;

    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 70px;


}

.main_div {
    display: flex;
    flex-direction: column;

}

.div8n {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goo {
    width: 64px;
    height: 64px;
    padding-bottom: 18px;
}

.gooo {
    width: 92px;
    height: 64px;
    padding-bottom: 18px;
}

.DOCTYPE {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 120px;
}

.doc {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;

}

.item {
    display: flex;
    box-shadow: 0px 4px 20px 0px #00000026;
    width: 509px;
    height: 293px;
    padding-left: 28px;
    padding-top: 31px;
    transition: transform 1s ease;


}

hr {
    background-color: #E8AA31;
    width: 68px;
    height: 2px;
    margin-left: 0px;

}

.god {
    font-family: Montserrat;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0%;

}

.ula {
    gap: 10px;
    list-style: disc;
    margin-left: 16px;
    margin-top: 30px;

}

.lia {
    padding-top: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0%;

}

.w {
    display: flex;
    flex-direction: column;
}

.item:hover {

    transform: scale(1.05);
}

.nm {

    color: #14141494;
    font-size: 20px;

}

.df {
    background-image: url('../images/Mask\ Group.png');
    height: 761px;
    color: #fff;
    display: flex;
}

.df h3 {
    font-weight: 900;
}

.wrappe {
    display: flex;
    flex-direction: column;
    margin-left: 167px;
    padding-top: 220px;
}

.nm1 {
    color: #E8AA31;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 5%;

}

.button1 {
    background-color: #E8AA31;
    color: white;
    width: 228px;
    height: 50px;
    border: #E8AA316E;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 17px;
    line-height: 46px;
    letter-spacing: 0%;
    margin-top: 60px;
    box-shadow: 0px 4px 20px 0px #E8AA316E;


}
